@keyframes shift {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0.25vw);
  }
  30% {
    transform: translateX(-0.25vw);
  }
  50% {
    transform: translateX(0);
  }
}

.shift {
  animation: shift 3s infinite linear;
}
