@keyframes run {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3%);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes blink {
  0% {
    transform: scaleY(1);
  }

  80% {
    transform: scaleY(1);
  }

  90% {
    transform: scaleY(0.25);
  }

  100% {
    transform: scaleY(1);
  }
}

.container {
  position: absolute;
  left: -12.5%;
}

.swing {
  animation: run 0.25s infinite linear;
  transform-origin: center center;
}

.bounce {
  animation: bounce 0.5s infinite ease-in-out;
  transform-origin: center center;
}

.reverse {
  animation-direction: reverse;
}

.pumpkin {
  transform: translate(25%, 58%) scale(1.1);
}

.blink {
  animation: blink 1s infinite ease-in-out;
  transform-origin: center 30%;
}
