@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cookie {
  animation: rotate 6s infinite linear;
  transform-origin: center center;
}

.container {
  transition: all 0.25s ease-in;
  transform-origin: 50% 50%;
}

.collected {
  transform: scale(0);
}
