@keyframes jelly {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scaleX(0.9) scaleY(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scaleX(1.1) scaleY(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes knot {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes hot {
  0% {
    color: #7d3822;
  }
  100% {
    color: #c23034;
  }
}

.jelly {
  animation: jelly 0.5s infinite ease-in-out;
  transform-origin: center bottom;
}

/* explosive timer */
.knot {
  animation: knot 3s ease-in-out;
  transform-origin: center 40%;
}

.hot {
  animation: hot 3s ease-in-out;
  transform-origin: center 40%;
}
