@keyframes jelly {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scaleX(0.95) scaleY(1.05);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scaleX(1.05) scaleY(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes knot {
  0% {
    transform: scale(2.5, 1);
  }
  100% {
    transform: scale(1, 0);
  }
}

@keyframes blow {
  0% {
    transform: scale(0.4);
  }
  5% {
    transform: scale(0.8);
  }
  98% {
    transform: scale(0.8);
  }
  99% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hot {
  0% {
    color: darkred;
  }
  99% {
    color: red;
  }
  100% {
    color: white;
  }
}

.container {
  transform-origin: center 90%;
  animation: hot 3s ease-in forwards, blow 3s ease-in forwards;
}

.jelly {
  animation: jelly 1s infinite ease-in-out;
  transform-origin: center bottom;
}

/* explosive timer */
.knot {
  animation: knot 3s linear forwards;
  transform-origin: center 38%;
}
